[submodule "themes/hugo-simple"]
	path = themes/hugo-simple
	url = https://github.com/maolonglong/hugo-simple.git
[submodule "themes/gokarna"]
	path = themes/gokarna
	url = https://github.com/gokarna-theme/gokarna-hugo.git
